<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">User Detail List- UserId: {{userId}}</h3>
    </div>
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" rowspan="2">#</th>
            <th scope="col" rowspan="2">Avatar</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Position</th>
            <th scope="col">Editor</th>
            <th scope="col">Modifed Date</th>
            <th scope="col">Status</th>
            <th scope="col" rowspan="2">Actions</th>
          </tr>
          <tr>
            <th scope="col">Age</th>
            <th scope="col">Organizations</th>
            <th scope="col">Ancestry</th>
            <th scope="col">Branch Of Government</th>
            <th scope="col">Ethnicity</th>
            <th scope="col">Ministry</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let person of orgPersons; let idx = index">
            <tr>
              <th scope="row" rowspan="2">{{idx + 1}}</th>
              <td rowspan="2"><img [src]="survey.getBaseImageUrl() + person.imageurl" style="width:50px;height:50px">
              </td>
              <td>
                <div>{{person.name}}</div>
              </td>
              <td>
                <div>{{person.gender}}</div>
              </td>
              <td>
                <div>{{person.position}}</div>
              </td>
              <td>
                <div>{{person.editor}}</div>
              </td>
              <td>
                <div>{{person.updatedtime}}</div>
              </td>
              <td>
                <div>{{person.status}}</div>
              </td>
              <td rowspan="2" class="text-center">
                <button *ngIf="person.status=='pendding'" (click)="clickApprove(person.postid)"
                  [routerLink]="['/admin/detail-hist',person.userid]" class="btn btn-info btn-sm mb-2">
                  Approve
                </button>
                <button (click)="clickDeclined(person.postid)" [routerLink]="['/admin/detail-hist',person.userid]"
                  class="btn btn-danger btn-sm">
                  <span *ngIf="person.status=='approved' else DeleteAction">Delete</span>
                  <ng-template #DeleteAction>
                    Decline
                  </ng-template>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div>{{person.age}}</div>
              </td>
              <td>
                <div>{{person.organizations}}</div>
              </td>
              <td>
                <div>{{person.ancestry}}</div>
              </td>
              <td>
                <div>{{person.branchOfGov}}</div>
              </td>
              <td>
                <div>{{person.ethnicity}}</div>
              </td>
              <td>
                <div>{{person.ministry}}</div>
              </td>

            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
