<div class="admin-container" [class.admin-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="admin-toolbar">
    <div fxLayout="row" fxLayoutAlign="space-between center"
      style="display: flex; justify-content: space-between;width:100%" fxFill>
      <div class="logo">
        <button mat-icon-button (click)="snav.toggle()" [ngStyle]="{'visibility': snav.opened? 'hidden':'visible'}"
          style="position: absolute; left:10px; visibility: hidden">
          <mat-icon>menu</mat-icon>
        </button>
        <img src="assets/images/logo.png" style="width:40px; height: 40px" class="" />
        <span class="ml-3">Admin Panel</span>
      </div>
      <div fxLayoutAlign="start center">
        <div class="btn-group" dropdown>
          <a #notificationButton dropdownToggle type="button" class="btn dropdown-toggle"
            aria-controls="notificationList">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-bell">
              <path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
            </svg>
            <span class='notification'>{{notification}}</span>
            <span class="caret"></span>
          </a>
          <ul #notificationList *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="notificationButton">
            <li role="menuitem" *ngIf=check_notification>
              <a [routerLink]="'/admin/users'" class="dropdown-item" *ngIf=check_notification>
                New user request
                <!-- <div class="media">
                  <div class="avatar avatar-sm avatar-online"><img src="/assets/img/img6.jpg" class="rounded-circle"
                      alt=""></div>
                  <div class="media-body mg-l-15">
                    <p>Congratulate <strong>Socrates Itumay</strong> for work anniversaries</p>
                    <span>Mar 15 12:32pm</span>
                  </div>
                </div> -->
              </a>
            </li>
          </ul>
        </div>
        <div class="btn-group" dropdown>
          <a #UserDropDown dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdownUser">
            <img src="/assets/images/admin.png" style="width:40px; height: 40px">
            <span class="caret"></span>
          </a>
          <ul #dropdownUser *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="UserDropDown">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="'/logout'">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="admin-sidenav-container" color="primary">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="90" [opened]="mobileQuery.matches ? 'false' : 'true'" class="admin-sidenav">
      <mat-nav-list>
        <div *ngFor="let side of sideBar">
          <a mat-list-item [routerLink]="side.url" *ngIf="getCheckUserRole(side)">
            {{side.label}}
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="admin-sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div fxLayout="row" fxLayoutAlign="center center" class="admin-footer">
    <span>This is footer.@copyright 2019</span>
  </div>

</div>
