<div class="content">
  <div class="container tx-12">
    <h3> Welcome to Dashbard!</h3>
    <div class="row pt-4">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4">
        <div class="card border border-3 border-primary rounded">
          <div class="card-body text-center tx-36 pb-1 pt-2">
            <div class="row text-primary">
              <div class="col-5 col-md-4 ">
                <i class="material-icons tx-40 d-inline-block align-middle">
                  people_alt
                </i>
              </div>
              <div class="col-7 col-md-8">
                <span class="d-inline-block align-middle">
                  106 s
                </span>
              </div>
            </div>
          </div>
          <div class="card-bottom px-3 pb-2 ">
            <hr class="mt-0" />
            <a routerLink="/admin/contributors" class="text-dark">Contributors Details ...</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 pt-2 pt-sm-0">
        <div class="card border border-3 border-success rounded">
          <div class="card-body text-center tx-36 pb-1 pt-2">
            <div class="row text-success">
              <div class="col-5 col-md-4 ">
                <i class="material-icons tx-40 d-inline-block align-middle">
                  poll
                </i>
              </div>
              <div class="col-7 col-md-8">
                <span class="d-inline-block align-middle">
                  3
                </span>
              </div>
            </div>
          </div>
          <div class="card-bottom px-3 pb-2 ">
            <hr class="mt-0" />
            <a routerLink="/admin/items" class="text-dark">Items Details ...</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 pt-2 pt-md-0">
        <div class="card border border-3 border-info rounded">
          <div class="card-body text-center tx-36 pb-1 pt-2">
            <div class="row text-info">
              <div class="col-5 col-md-4 ">
                <i class="material-icons tx-40 d-inline-block align-middle">
                  person_add
                </i>
              </div>
              <div class="col-7 col-md-8">
                <span class="d-inline-block align-middle">
                  106 s
                </span>
              </div>
            </div>
          </div>
          <div class="card-bottom px-3 pb-2 ">
            <hr class="mt-0" />
            <a routerLink="/admin/users" class="text-dark">User Details ...</a>
          </div>
        </div>
      </div>

    </div>
    <div class="row pt-4 tx-12">
      <div class="col-6">
        <h5 class="text-center">Commit Status</h5>
        <div class="card">
          <div class="card-body">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">User</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
